ul.breadcrumb {
  list-style: none;
  padding: 0;
  margin: 16px 0px 16px 0px;

}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
  background-color: #eee;
  padding: 10px 4px 10px 4px;
}

ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
  cursor: pointer;
}