body {
  font-family: Tahoma, Geneva, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.family-tree-controls{
  display: flex;
  padding: 16px;
  border: 1px solid grey;
  border-radius: 8px;
  justify-content: space-evenly;
  margin-bottom: 16px;
}

.family-tree-controls label{
  display: flex;
  align-items: center;
}

.family-tree-controls input{
  margin-left: 4px
}


.family-tree-controls select{
  margin-left: 4px
}

.family-tree {
  padding: 16px;
  
}